<div class="trackLine">
    <p>{{name}}</p>

    <div class="audioPlayer">
        {{#if preview_url}}
            <audio
                controls
                src="{{preview_url}}">
                    Your browser does not support the
                    <code>audio</code> element.
            </audio>
        {{else}}
            <p>Preview unavailable</p>
        {{/if}}
    </div>
</div>