.homepage {
    display: flex;
    margin: auto;
}

.search {
    background: rgba(255, 255, 255, 0.6);
    margin: 40px;
    width: 60%;
    font-family: arial;
}

#search-artist {
    background: rgb(233, 112, 112);
    color: white;
    font-family: arial;
}