*, :before, :after {box-sizing:border-box;}

:root {
    --white: #F7F9F9;
    --light-blue: #2081C3;
    --dark-blue: #0A2C42;
    --grey: rgba(145, 145, 145, 0.481);

    --gutter:1.5rem;
}

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

#artistsContainer {
    text-align: center;
}

#artistsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#artistsList .artistCard {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: calc(100% / 3 - var(--gutter));
    background-color: #4D4D4D;
    margin-bottom: var(--gutter);
    text-align: center;
    align-items: center;
    padding-bottom: 1em;
}
@media (min-width: 400px) {
    #artistsList .artistCard {
        max-width: 400px;
    }
}

#artistsList .artistCard img {
    height: 12em;
    width: 100%;
}
@media (min-width: 400px) {
    #artistsList .artistCard img {
        height: 20em;   
    }
}

#artistsList .artistCard h2 {
    color: white;
    font-size: 1.5em;
}

#artistsList .artistCard a {
    background-color: #EC6866;
    padding: .6em 1.2em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size:.8em;
    border-radius: .5em;
}