<div class="artist-card">
    <div class="artiste-image">
        <img src="{{artist.images}}" alt="photo-artiste">
    </div>
    <div class="artist-name">
        <h1>{{artist.name}}</h1>
        <a href="{{artist.external_urls}}">View Albums</a>
    </div>
</div>