<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/stylesheets/styles.css">

<body>
  <div class="artistsgang" id="ag">
    <ul>
      {{#each artists.items}}
      <li>{{this.name}}</li>
      {{/each}}
    </ul>
  </div>

</body>

</html>