<div class="form-hp">
    <form action="/artists" method="GET">
        <div class="typing">
            <label>
                <input type="text" name="artist" placeholder="Enter the Artist's name">
            </label>
        </div>
        <p>
            <button class="btn" type="submit">Search for an Artist</button>
        </p>
    </form>
</div>
