<div id="indexContainer">
    <div id="search">
        <form action="/artists" method="get">
            <input type="text" name="q" placeholder="artist">
            <button type="submit">Search</button>
        </form>
    </div>
</div>