<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Spotify</title>
    </head>
<body>
<form action="/search" method="GET">
  <label>
    <input type="text" name="artists">
  </label>
  
  <button type="submit">search for an artist </button>
</form>
</body>
</html>