<div class="containsearch">
  <div class="containinput">
  <form action="/artists" method="GET">
    <label>
      <input placeholder="Search for an Artist!" type="text" name="artist">
    </label>
    <div class="btn">
    <button type="submit">Search for an Artist</button>
    </div>
  </form>
  </div>
</div>