<div class="form">
  <form action="/artists" method="get">
      <input type="text" id="artist" placeholder="Search for an artist !"required>
      <input type="submit" value="Search for an artist !">
  </form>
</div>