</body>
</html><div class="index-container">
    <form action="/artists" method="GET"> 
        <input type="search" id="site-search" aria-label="Sear for an artist" name="searchArtist">
        <button class="searchButton" type="submit">Search for an Artist</button>
    </form>
</div>